ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    padding: 0;
}

ul li {
    list-style: none;
    position: relative;
    width: 20%;
    height: 100%;
    border-right: 1px solid #000;
    float: left;
    box-sizing: border-box;
    transition: 0.5s;
    text-align: center;
    overflow: hidden;
}

ul li:nth-child(1) {
    background: url(https://images5.alphacoders.com/104/thumb-1920-1046568.jpg);
    background-size: cover;
    background-position: center;
}

ul li:nth-child(2) {
    background: url(https://wallpapercave.com/wp/TCSRzXt.jpg);
    background-size: cover;
    background-position: center;
}

ul li:nth-child(3) {
    background: url(https://metagalaxia.com.br/wp-content/uploads/2019/07/shingeki-no-kyojin-3-parte2-resenha-poster.jpg);
    background-size: cover;
    background-position: center;
}

ul li:nth-child(4) {
    background: url(https://wallpaperaccess.com/full/1084974.jpg);
    background-size: cover;
    background-position: center;
}

ul li:nth-child(5) {
    background: url(https://wallpapercave.com/wp/wp1859949.jpg);
    background-size: cover;
    background-position: center;
}

ul:hover li {
    width: 10%;
}

ul li:hover {
    width: 60%;
}

ul li .content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
    color: #fff;
    opacity: 0;
}

ul li:hover .content {
    bottom: 0;
    transition: 0.5s;
    transition-delay: 0.5s;
    opacity: 1;
}